.advantages,
.advantages__wrapper,
.advantages__title,
.advantages__item,
.advantages__name,
.advantages__description {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.advantages {
  padding: 50px 18px 28px 18px;
}

.advantages__wrapper {
  appearance: none;
  list-style: none;
  display: block;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__item {
  display: inline-block;
  padding: 60px 0 32px;
  height: 142px;
  box-sizing: border-box;
  position: relative;
}

.advantages__item::before {
  content: " ";
  position: absolute;
  background-image: url("/img/decor/eco.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.advantages__item--fit::before {
  background-image: url("/img/decor/fit.svg");
}

.advantages__item--energy::before {
  background-image: url("/img/decor/energy.svg");
}

.advantages__item--speed::before {
  background-image: url("/img/decor/speed.svg");
}
