.advantages,
.advantages__wrapper,
.advantages__title,
.advantages__item,
.advantages__name,
.advantages__description {
  padding: 0;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
  }
}

.advantages {
  padding: 50px 18px 28px 18px;

  @media (min-width: $desktop-width) {
    padding: 80px 18px 98px 18px;
  }
}

.advantages__wrapper {
  appearance: none;
  list-style: none;
  display: block;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
    padding: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__title {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 42px;
    line-height: 64px;
    font-weight: 700;
  }
}

.advantages__item {
  display: inline-block;
  padding: 60px 0 32px;
  height: 142px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 40px;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0 0 0;
    align-self: center;
  }
}

.advantages__item::before {
  content: " ";
  position: absolute;
  background-image: url("/img/decor/eco.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 48px;
  height: 50px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: -5%;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 50%;
  }
}

.advantages__name,
.advantages__description {
  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__name {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.advantages__item--fit::before {
  background-image: url("/img/decor/fit.svg");
}

.advantages__item--energy::before {
  background-image: url("/img/decor/energy.svg");
}

.advantages__item--speed::before {
  background-image: url("/img/decor/speed.svg");
}
