.button {
  display: block;
  color: #ffffff;
  background-color: $accent;
  font-size: 16px;
  line-height: 24px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  outline: none;
}

.button--app,
.button--reset {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 137px;
    margin-right: 20px;
    display: inline-block;
  }
}

.button--reset {
  color: $accent;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 120px;
    margin-right: 0;
  }
}
