.button {
  display: block;
  margin: 6px;
  color: #ffffff;
  background-color: $accent;
  font-size: 16px;
  line-height: 24px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #9070ec;
}

.button:active {
  background-color: #593cac;
}

.button:disabled {
  background-color: #bdbdbd;
}


.button--app,
.button--reset {
  width: 280px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 137px;
    margin-bottom: 0;
    margin-right: 20px;
    display: inline-block;
  }
}

.button--reset {
  color: $accent;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 120px;
    margin-right: 0;
  }
}

.button--reset:hover,
.button--reset:focus {
  color: #ffffff;
}

.button--reset:active {
  color: #ffffff;
}

.button--reset:disabled {
  color: #ffffff;
}
