.control__label {
  margin: 0;
  text-align: start;
}

.control {
  position: relative;
  cursor: pointer;
}

.control__mark {
  position: absolute;
  width: 40px;
  height: 20px;
  left: -50px;
  background-color: #bdbdbd;
  box-sizing: border-box;
  border-radius: 10px;
}

.control::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -50px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #bdbdbd;
  z-index: 2;
}
