.contacts__item {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.contacts__item::before {
  content: " ";
  position: absolute;
  background-image: url("/img/decor/phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 27px;
  top: -6px;
  left: -22px;
  z-index: 2;
}

.contacts__item:last-of-type::before {
  background-image: url("/img/decor/marker.svg");
}

.contacts__item a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #333333;
}
