.filter,
.filter__title,
.filter__list,
.filter__item {
  padding: 0;
  margin: 0 auto;
}

.filter__item:last-of-type {
  opacity: 0.3;
}

.filter__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 16px;
}

.filter__list,
.filter__item {
  appearance: none;
  list-style: none;
  display: block;
}

.filter__item {
  margin-left: 60px;
  margin-bottom: 14px;
}
