.main-header {
  width: 100%;
  position: relative;
}

.main-header__nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-right: 0;
  }
}

.main-header__wrapper {
  padding: 10px 20px;
  box-sizing: border-box;
}

.main-header__logo {
  padding: 6px;
  margin: 0;
  display: block;
}

.main-header__logo-image {
  width: 32px;
  height: 36px;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.main-header__icon {
  padding: 0;
  margin: 10px;
  display: inline-block;
}

.main-header__logo-icon {
  width: 16px;
  height: 16px;
  padding: 15px;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .main-header__wrapper {
    padding: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }

  .main-header__toggle--active {
    display: none;
  }

  .main-header__logo {
    flex: 0 0 20%;
    width: 102px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 6px;
    text-decoration: none;
  }

  .main-header__letters-left::before,
  .main-header__letters-right::before {
    content: "D";
    visibility: visible;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
  }

  .main-header__letters-right::before {
    content: "G";
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
  }

  .main-header__logo {
    flex: 0 0 30%;
    height: 60px;
    position: relative;
  }

  .main-header__wrapper {
    width: 100%;
  }

  .main-header__letters-left::before,
  .main-header__letters-right::before {
    content: "DRINK";
    visibility: visible;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    color: #333333;
  }

  .main-header__letters-right::before {
    content: "GO";
  }

  .main-header__icon {
    position: relative;
    padding-right: 40px;
  }

  .main-header__logo::after,
  .main-header__icon::after {
    content: "Интернет-магазин кофейных напитков";
    position: absolute;
    top: 50%;
    left: 184px;
    transform: translateY(-50%);
    visibility: visible;
    width: 140px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #333333;
  }

  .main-header__icon::after {
    position: absolute;
    content: "войти";
    visibility: visible;
    top: 50%;
    left: 42px;
    text-transform: uppercase;
    font-weight: 500;
    transform: translateY(-50%);
    z-index: 2;
  }

  .main-header__icon:last-of-type::after {
    content: "корзина";
  }
}

.main-header__icon:hover .main-header__logo-icon,
.main-header__icon:focus .main-header__logo-icon {
  color: #9070ec;
}

.main-header__icon:active .main-header__logo-icon {
  color: #593cac;
}

.main-header__icon:hover::after,
.main-header__icon:focus::after {
  color: #9070ec;
}

.main-header__icon:active::after {
  color: #593cac;
}
