.main-header {
  width: 100%;
  position: relative;
}

.main-header__nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  box-sizing: border-box;
}

.main-header__wrapper {
  padding: 10px 20px;
  box-sizing: border-box;
}

.main-header__logo {
  padding: 0;
  margin: 0;
  display: block;
}

.main-header__logo-image {
  width: 32px;
  height: 36px;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.main-header__icon {
  padding: 0;
  margin: 10px;
  display: inline-block;
}

.main-header__logo-icon {
  width: 16px;
  height: 16px;
  padding: 15px;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 768px;
  }

  .main-header__wrapper {
    padding: 0;
    padding-left: 26px;
  }

  .main-header__toggle--active {
    display: none;
  }

  .main-header__logo {
    width: 174px;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    margin: 0 auto;
  }

  .main-header__logo {
    width: 202px;
    height: 60px;
  }

  .main-header__wrapper {
    margin-top: 54px;
    margin-left: 80px;
    justify-self: start;
    align-self: start;
  }
}
