
@media (min-width: $desktop-width) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 90%;
    padding-top: 60px;
    position: relative;
  }

  .main-wrapper__products {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .main-wrapper__sorting {
    grid-column: 2/-1;
    grid-row: 1/2;
  }

  .main-wrapper__catalog {
    grid-column: 2/-1;
    grid-row: 2/-1;
  }
}
