.menu-nav {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: $white;
}

.menu-nav__toggle {
  position: absolute;
  right: -20px;
  top: -62px;
  display: block;
  padding: 22px;
  margin: 10px;
  box-sizing: border-box;
  background-color: transparent;
}

.menu-nav--closed > .menu-nav__toggle::before {
  content: "";
  position: absolute;
  z-index: 2;
  right: 50%;
  top: 40%;
  transform: translate(50%, 50%);
  width: 16px;
  height: 1.5px;
  background-color: #333333;
  box-shadow: 0 4px 0 0 #333333, 0 9px 0 0 #333333;
}

.menu-nav--opened + .menu-nav {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1;
  padding: 20px;
  border: none;
  appearance: none;
  cursor: pointer;
  background-color: inherit;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 10px;
    width: 24px;
    height: 1.5px;
    background-color: #333333;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:active {
    opacity: 0.3;
  }

  .menu-nav--nojs ~ .menu-nav {
    display: none;
  }

  .menu-nav--nojs .site-list {
    display: block;
  }
}

@media (max-width: $mobile-width-only) {
  .menu-nav--closed .site-list {
    display: none;
  }

  .menu-nav--closed .user-list {
    display: none;
  }

  .menu-nav--opened .site-list {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: $white;
  }
}

@media (min-width: $tablet-width) {
  .menu-nav {
    flex: 0 1 75%;
    position: relative;
    margin: 0;
  }

  .menu-nav__toggle,
  .menu-nav__toggle::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .menu-nav {
    flex: 0 1 65%;
  }
}
