.menu-nav {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: $white;

  @media (min-width: $tablet-width) {
    flex: 0 1 75%;
    position: relative;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    flex: 0 1 40%;
  }
}

.menu-nav__toggle {
  position: absolute;
  right: -20px;
  top: -62px;
  display: block;
  padding: 22px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.menu-nav--closed > .menu-nav__toggle::before {
  content: "";
  position: absolute;
  z-index: 2;
  right: 50%;
  top: 40%;
  transform: translate(50%, 50%);
  width: 16px;
  height: 1.5px;
  background-color: #333333;
  box-shadow: 0 4px 0 0 #333333, 0 9px 0 0 #333333;
}

.menu-nav--opened + .menu-nav {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1;
  padding: 20px;
  border: none;
  appearance: none;
  cursor: pointer;
  background-color: inherit;

  .menu-nav--nojs ~ .menu-nav {
    display: none;
  }

  .menu-nav--nojs .site-list {
    display: block;
  }
}

.menu-nav--opened > .menu-nav__toggle::before,
.menu-nav--opened > .menu-nav__toggle::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 12px;
  width: 20px;
  height: 1.5px;
  background-color: #333333;
  transform: rotate(45deg);
  box-shadow: none;
}

.menu-nav--opened > .menu-nav__toggle::after {
  transform: rotate(-45deg);
}

.menu-nav__toggle:hover {
  background-color: #ffffff;
}

.menu-nav__toggle:active {
  background-color: #f0ebff;
}

.menu-nav--closed .site-list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.menu-nav--opened .site-list {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: $white;
  }
}

.menu-nav__toggle::before {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
