.page-footer {
  background-color: #ffffff;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.page-footer__section {
  padding: 20px;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    display: inline-block;
    width: 27%;
  }
}

.page-footer__links {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #f0ebff;
}

.page-footer__logo-image {
  width: 32px;

  @media (min-width: $tablet-width) {
    height: 36px;
  }
}

.page-footer__link {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.page-footer__letters-left::before {
  content: "D";
  visibility: visible;

  @media (min-width: $tablet-width) {
    content: "DRINK";
  }
}

.page-footer__letters-right::before {
  content: "G";
  visibility: visible;

  @media (min-width: $tablet-width) {
    content: "GO";
  }
}

.page-footer__letters-left::before,
.page-footer__letters-right::before {
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.page-footer__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: $accent;
  letter-spacing: 2%;
  margin-bottom: 12px;
}
