.page-footer {
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: 4fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.page-footer__location {
  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

.page-footer__block {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @media (min-width: $desktop-width) {
      grid-column: 2/-1;
      grid-row: 2/3;
    }
  }
}

.page-footer__section {
  padding: 20px;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    display: inline-block;
    width: 27%;
  }
}

.page-footer__links {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    border-bottom: none;
  }
}

.page-footer__logo-image {
  width: 32px;

  @media (min-width: $tablet-width) {
    height: 36px;
  }
}

.page-footer__link {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  column-gap: 6px;

  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
    position: relative;
    flex: 0 0 60%;
  }
}

.page-footer__link::after {
  @media (min-width: $desktop-width) {
    content: "Интернет-магазин кофейных напитков";
    position: absolute;
    top: 40px;
    left: 0;
    visibility: visible;
    width: 340px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #333333;
  }
}

.page-footer__letters-left::before {
  content: "D";
  visibility: visible;

  @media (min-width: $tablet-width) {
    content: "DRINK";
  }
}

.page-footer__letters-right::before {
  content: "G";
  visibility: visible;

  @media (min-width: $tablet-width) {
    content: "GO";
  }
}

.page-footer__letters-left::before,
.page-footer__letters-right::before {
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.page-footer__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: $accent;
  letter-spacing: 2%;
  margin-bottom: 12px;
}

.page-footer__copyright {
  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 3/-1;
  }
}
