.pagination {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    justify-content: end;
  }
}

.pagination__item {
  display: inline-block;
  padding: 0;
  flex: 0 1 15%;
  border-radius: 4px;
  background-color: #ffffff;
  align-self: center;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex: 0 0 40px;
  }
}

.pagination__item:first-of-type,
.pagination__item:last-of-type {
  @media (min-width: $tablet-width) {
    flex: 0 0 90px;
    box-sizing: border-box;
  }
}

.pagination__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  line-height: 40px;
  align-self: center;
  box-sizing: border-box;
  color: $accent;
  list-style: none;
}

.pagination__item--current {
  background-color: transparent;
  border-radius: 0;
}

.pagination__item--current .pagination__link {
  font-weight: 600;
  color: #333333;
}

.pagination__item:hover,
.pagination__item:focus {
  background-color: #9070ec;
  color: #ffffff;
}

.pagination__item:active {
  background-color: #593cac;
  color: #ffffff;
}

.pagination__item:disabled {
  background-color: #e2e2e2;
  color: #ffffff;
}

.pagination__item:hover .pagination__link,
.pagination__item:focus .pagination__link,
.pagination__item:active .pagination__link,
.pagination__item:disabled .pagination__link {
  color: #ffffff;
}

.pagination__left::before {
  content: "<";
  visibility: visible;

  @media (min-width: $desktop-width) {
    content: "Назад";
  }
}

.pagination__right::before {
  content: ">";
  visibility: visible;

  @media (min-width: $desktop-width) {
    content: "Вперёд";
  }
}
