.social__list {
  padding: 0;
  margin: 0;
  appearance: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.social__item svg {
  fill: #bdbdbd;
}

.social__item {
  @media (min-width: $tablet-width) {
    padding: 10px;
  }
}

.social__item:hover,
.social__item:focus {
  background-color: #f0ebff;
}

.social__item:active {
  background-color: rgba(120, 89, 207, 0.25);
}

.social__pick {
  color: #bdbdbd;
}

.social__item:hover svg,
.social__item:focus svg {
  color: $accent;
}
